* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, "Microsoft YaHei", "黑体";
}

%clearfix {
  zoom: 1;
  &:before {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
}
